@import '../../styles/index.scss';

.sideBar {
    position: absolute;
    top: $hightHeader + $hightHeader - $hightHeaderName - $hightHeaderNameTop;
    width: $widthLeft;
    height: 100vh - ($hightHeader + $hightHeader - $hightHeaderName - $hightHeaderNameTop) - 2vh;
    padding-top: 2vh;

    .switchContainer {
        @include flexCenterCenter;
        gap: 1vh;
        background-color: $yellowLight;
        width: calc(100% - 1vh);
        margin-left: 1vh;
        padding-block: 0.5vh;
        border-radius: 0.5vh;

        label {
            @include flexCenterCenter;
            @include hover;
            position: relative;
            cursor: pointer;
        }

        input {
            width: 0;
            height: 0;
            position: absolute;
        }

        img {
            width: 40px;
            filter: $blueFilter;
        }
    }
}
