@import '../../styles/index.scss';

.sideBar {
    position: absolute;
    top: $hightHeader + $hightHeader - $hightHeaderName - $hightHeaderNameTop;
    width: $widthLeft;
    height: 100vh - ($hightHeader + $hightHeader - $hightHeaderName - $hightHeaderNameTop);
}
