body {
    margin: 0;
    font-family: 'Nunito', sans-serif;

    --blue: rgb(2, 32, 128);
    --yellow: rgb(254, 153, 1);
    --blueFilter: invert(15%) sepia(49%) saturate(4274%) hue-rotate(221deg) brightness(81%)
        contrast(112%);
}

th,
td {
    border: 1px solid black;
}
