@import './styles/index.scss';

html,
body,
#root,
.App {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: $fontFamilyRounded;

    a {
        text-decoration: none;
    }
    input {
        outline: none;
        border: 0;
        padding: 0;
        margin: 0;
    }
    button {
        padding: 0;
        border: 0;
        background: transparent;
    }
    td,
    th {
        padding: 0;
    }
    table {
        border-spacing: 0;
    }
    textarea {
        padding: 0;
        outline: none;
    }
}

.header {
    width: 0;
    height: 0;
    border: none;

    + .sideBar {
        position: fixed;
        margin-top: -7vh;
        height: 100% !important;
    }

    ~ .body {
        padding-top: 14.6vh;
    }

    .headerSticky {
        position: fixed;
        top: 0;
        width: 100% !important;
        margin: 0 !important;
        background-color: $yellow !important;

        > .navBarTitle {
            @include flexCenterCenter;
            color: $blue;
            font-size: $fontSizeDesktopL;
            font-weight: $fontWeightXL;
            transform: scale(1);
            opacity: 1;
            width: $widthLeft;
            height: calc($hightHeader - (($hightHeaderName + $hightHeaderNameTop)));
            visibility: visible;
        }
    }
}

.navBarTitle {
    float: left;
    visibility: hidden;
    width: $widthLeft;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.wrapper {
    @include columnStartStart;
    min-height: 100%;
    width: 100%;
}
