@import '../../styles/index.scss';

.sortingContainer {
    @include columnStartStart;
    max-height: 45vh;
    width: calc(100% - 1vh);
    overflow-y: scroll;
    margin-top: 2vh;
    gap: 4px;
    background-color: $yellowLight;
    margin-left: 1vh;
    border-block: 0.5vh solid $yellowLight;
    border-radius: 0.5vh;

    .sortingHeader {
        @include columnCenterCenter;
        @include fontDesktopXM($blue);
        position: sticky;
        top: 0;
        z-index: 5;
        background-color: $yellowLight;
        width: 100%;
        padding-bottom: 4px;

        .headerTitle {
            @include flexCenterCenter;
            gap: 1vh;

            img {
                @include hover;
                filter: $blueFilter;
                height: 25px;
            }
        }

        button {
            @include fontDesktopM($blue);
            @include flexCenterCenter;
            @include hover;
            gap: 2px;
            visibility: hidden;

            &[hidden] {
                visibility: hidden;
            }

            img {
                filter: $redFilter;
            }
        }
    }

    .group {
        @include flexCenterCenter;
        @include fontDesktopS($blue);
        margin-left: 5px;
        gap: 5px;

        .container {
            display: flex;
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            height: 1.3em;
            width: 1.3em;

            input {
                position: absolute;
                opacity: 0;
                height: 0;
                width: 0;
            }

            .checkMark {
                text-align: center;
                height: 100%;
                width: 100%;
                background-color: #e0e0e0;
            }
        }
        .container:hover input ~ .checkMark {
            background-color: #b5b5b5;
        }
        .container:hover input:checked ~ .checkMark {
            background-color: $yellowDark;
        }

        .container input:checked ~ .checkMark {
            background-color: $blue;
            color: $white;
        }
    }
}
