@import '../../styles/index.scss';

.sortingContainer {
    @include columnStartStart;
    max-height: 45vh;
    width: 168px;
    overflow-y: scroll;
    gap: 5px;
    background-color: $yellowLight;
    border-radius: 0 15px 15px 0;
    height: max-content;
    padding-bottom: 5px;
    transition: 0.5s ease-in-out;
    margin-top: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.339);

    .header {
        @include flexBetweenCenter;
        position: sticky;
        height: 30px;
        top: 0;
        z-index: 5;
        background-color: $yellow;
        border-radius: 0 20px 20px 0;
        width: calc(100% - 22px);
        padding-left: 20px;
        padding-right: 2px;
        font-size: 20px;
        color: $blue;
        font-weight: 600;
        cursor: pointer;

        .closeContainer {
            @include flexCenterCenter;
            background-color: $white;
            width: 22px;
            height: 22px;
            border-radius: 100%;
            font-size: 22px;
            line-height: 22px;
            font-weight: 800;
            cursor: pointer;
        }

        .rightArrow {
            filter: $blueFilter;
            width: 30px;
            cursor: pointer;
        }

        .downArrow {
            filter: $blueFilter;
            transform: rotate(90deg);
            width: 30px;
            cursor: pointer;
            margin-right: 2px;
        }
    }

    .group {
        @include flexBetweenCenter;
        color: $blue;
        font-size: 13px;
        font-weight: 400;
        margin-left: 22px;
        flex-direction: row-reverse;
        gap: 8px;
        cursor: default;
        width: 115px;

        .container {
            display: flex;
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            height: 18px;
            width: 18px;

            input {
                position: absolute;
                opacity: 0;
                height: 0;
                width: 0;
            }

            .checkMark {
                text-align: center;
                height: 100%;
                width: 100%;
                background-color: $white;
                border-radius: 100%;
            }
        }

        @media (hover: hover) and (pointer: fine) {
            .container:hover input ~ .checkMark {
                background-color: #b5b5b5;
            }
            .container:hover input:checked ~ .checkMark {
                background-color: $yellow;
            }
        }

        .container input:checked ~ .checkMark {
            background-color: $blue;
            color: $white;
        }
    }
}
