.Ticker__Container {
    position: fixed;
    writing-mode: vertical-lr;
    height: 100%;
    left: 50px;
    font-size: 48px;
    font-weight: bolder;
    transform: rotate(-180deg);
    top: -25px;
    opacity: 0.2;
}
.Ticker {
    height: 100%;
    width: 60px;
    color: var(--blue);
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.Ticker__Wrapper div {
    float: bottom;
    height: 50%;
}
@keyframes ticker {
    0% {
        bottom: 0;
    }
    100% {
        bottom: -100%;
    }
}

.Ticker__Wrapper {
    display: inline-block;
    width: 60px;
    height: 200%;
    position: absolute;
    overflow-y: hidden;
    animation: ticker 20s linear infinite;
}
