@import '../../styles/index.scss';

.header {
    z-index: $zIndexHeader;
    background-color: $white;
    height: $hightHeader;

    .headerStatic {
        height: calc(3.69vw + 1.2vw);

        .headerLogo {
            img {
                width: $widthLeft;
            }
        }

        .headerName {
            @include flexCenterCenter;
            @include fontDesktopXXL($white);
            height: $hightHeaderName;
            top: $hightHeaderNameTop;
            left: $widthLeft;
            width: $widthRight;
            background-color: $yellow;
            cursor: pointer;
            position: absolute;
            border-radius: 5vw 5vw 0 0;
        }
    }

    .headerSticky {
        background-color: $white;
        width: 100%;
        height: calc($hightHeader - (($hightHeaderName + $hightHeaderNameTop)));
        float: left;

        .navBar {
            @include flexBetweenCenter;
            width: $widthRight;
            height: calc($hightHeader - (($hightHeaderName + $hightHeaderNameTop)));
            position: relative;

            .catalog:hover {
                z-index: 5;
                .nestedDropdown {
                    display: block;
                }
            }

            .categoryDropdown {
                @include fontDesktopXS($blue);
                position: absolute;
                top: 0.8vw;
                left: 8.1vw;
                background-color: $yellow;
                z-index: 6;

                .background {
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    z-index: 10;
                    background-color: rgba(0, 0, 0, 0.1);
                }

                .nestedDropdown {
                    border: 1px solid red;
                    display: none;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    z-index: 6;
                    width: max-content;
                }

                .nestedDropdown li {
                    cursor: pointer;
                    width: calc(100% - 0.4vw);
                    padding: 0.2vw;
                    position: relative;
                    z-index: 6;
                }

                .nestedDropdown ul {
                    left: 100%;
                    position: absolute;
                    top: -1px;
                    width: max-content;
                    background-color: $yellow;
                    border: 1px solid red;
                    display: none;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }

                .nestedDropdown ul ul {
                    border-left: 0;
                    left: 100%;
                    position: absolute;
                    top: -1px;
                }

                .nestedDropdown li:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                    > ul {
                        display: block;
                    }
                }
            }

            .navItem {
                @include flexCenterCenter;
                @include fontDesktopL($blue);
                @include active;
                @include hover;

                img {
                    height: 1em;
                    filter: $blueFilter;
                }
            }

            .headerLang {
                @include flexCenterCenter;
                position: relative;

                img {
                    height: 2vw;
                    filter: $blueFilter;
                }

                &:hover {
                    .langOptions {
                        @include columnStartStart;
                    }

                    .langUpArrow {
                        display: block;
                    }

                    .langDownArrow {
                        display: none;
                    }
                }

                .langUpArrow {
                    display: none;
                }

                .langSelect {
                    @include fontDesktopL($blue);

                    .langOption {
                        @include fontDesktopL($blue);
                        cursor: pointer;

                        &[id='disabledLang'] {
                            display: none;
                        }
                    }
                }

                .langOptions {
                    display: none;
                    position: absolute;
                    background-color: $white;
                }
            }
        }

        .searchBar {
            @include flexStartCenter;
            background-color: $blue;
            height: calc($hightHeader - (($hightHeaderName + $hightHeaderNameTop)));

            .historyMenu {
                @include flexCenterCenter;
                width: $widthLeft;
                gap: 0.2vw;

                img {
                    @include hover;
                    width: $widthImgDesktop;
                    cursor: pointer;
                    filter: $whiteFilter;
                }

                .loupeImg {
                    margin-left: 0.5vw;
                }
            }

            .pageTitle {
                @include flexCenterCenter;
                @include fontDesktopL($white);

                width: $widthRight;
            }

            .breadcrumbs {
                @include flexStartCenter;
                @include fontDesktopS($white);
                padding-left: 1vw;
                gap: 1.5vw;
                max-width: $widthRight - 1vw;
                overflow: scroll;

                .breadcrumbsItem {
                    @include flexCenterCenter;
                    @include fontDesktopL($white);
                    gap: 1.5vw;

                    a {
                        @include fontDesktopS($white);
                        @include hover;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
