@import '../../styles/index.scss';

.header {
    z-index: $zIndexHeader;
    background-color: $white;
    height: $hightHeader;
    width: 100%;

    .headerStatic {
        height: $hightHeaderName + $hightHeaderNameTop;

        .headerLogo {
            @include flexCenterCenter;
            width: $widthLeft;
            img {
                height: $hightHeader;
            }
        }

        .headerName {
            @include flexCenterCenter;
            @include fontDesktopXXL($white);
            height: $hightHeaderName;
            top: $hightHeaderNameTop;
            // left: $widthLeft;
            left: $widthLeft;
            width: calc(100% - $widthLeft - $marginRight);
            background-color: $yellow;
            cursor: pointer;
            position: absolute;
            border-radius: 5vw 5vw 0 0;
        }
    }

    .headerSticky {
        background-color: $white;
        width: 100%;
        height: calc($hightHeader - (($hightHeaderName + $hightHeaderNameTop)));
        float: left;

        .navBar {
            @include flexBetweenCenter;
            width: calc(100% - $widthLeft - $marginRight);
            height: calc($hightHeader - (($hightHeaderName + $hightHeaderNameTop)));
            // overflow: hidden;

            .catalogContainer {
                @include flexCenterCenter;
                position: relative;
            }

            .dropdownSwitcher {
                @include flexCenterCenter;
                @include hover;
                position: relative;
                cursor: pointer;

                img {
                    filter: $blueFilter;
                }

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }
            }

            .categoryDropdown {
                @include fontDesktopS($blue);
                position: absolute;
                top: 0;
                left: 100%;
                background-color: $yellow;
                z-index: 6;
                width: 18.4vw;

                .nestedDropdown {
                    border: 0.2vw solid $blue;
                    display: none;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    z-index: 6;
                    width: 18vw;
                    top: 0;
                }

                .nestedDropdown li {
                    cursor: pointer;
                    width: calc(100% - 0.4vw);
                    padding-inline: 0.2vw;
                    padding-block: 0.2vw;
                    position: relative;
                    z-index: 6;
                    line-height: 1vw;
                }

                .nestedDropdown ul {
                    left: calc(100% + 0.1vw);
                    position: absolute;
                    top: -0.2vw;
                    background-color: $yellow;
                    border: 0.2vw solid $blue;
                    display: none;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    width: 18vw;
                }

                .nestedDropdown ul ul {
                    left: calc(100% + 0.05vw);
                    position: absolute;
                    top: -0.2vw;
                    width: 18vw;
                }

                .nestedDropdown li:hover {
                    background-color: rgba(0, 0, 0, 0.23);
                    > ul {
                        display: block;
                    }
                    ul[hidden] {
                        display: none;
                        background-color: red;
                    }
                }
            }

            .navItem {
                @include flexCenterCenter;
                @include fontDesktopL($blue);
                @include active;
                @include hover;

                img {
                    height: 1em;
                    filter: $blueFilter;
                }
            }

            .headerLang {
                @include flexCenterCenter;
                position: relative;

                img {
                    height: 2vw;
                    filter: $blueFilter;
                }

                &:hover {
                    .langOptions {
                        @include columnStartStart;
                    }

                    .langUpArrow {
                        display: block;
                    }

                    .langDownArrow {
                        display: none;
                    }
                }

                .langUpArrow {
                    display: none;
                }

                .langSelect {
                    @include fontDesktopL($blue);

                    .langOption {
                        @include fontDesktopL($blue);
                        cursor: pointer;

                        &[id='disabledLang'] {
                            display: none;
                        }
                    }
                }

                .langOptions {
                    display: none;
                    position: absolute;
                    background-color: $white;
                }
            }
        }

        .searchBar {
            @include flexStartCenter;
            background-color: $blue;
            height: calc($hightHeader - (($hightHeaderName + $hightHeaderNameTop)));
            width: 100%;

            .historyMenu {
                @include flexCenterCenter;
                width: ($widthLeft);
                gap: 0.2vw;

                img {
                    @include hover;
                    width: $widthImgDesktop;
                    cursor: pointer;
                    filter: $whiteFilter;
                }

                .loupeImg {
                    margin-left: 0.5vw;
                }
            }

            .pageTitle {
                @include flexCenterCenter;
                @include fontDesktopL($white);

                width: calc(100% - $widthLeft);
            }

            .breadcrumbs {
                @include flexStartCenter;
                @include fontDesktopS($white);
                padding-left: 1vw;
                gap: 1.5vw;
                max-width: $widthRight - 1vw;
                overflow: scroll;

                .breadcrumbsItem {
                    @include flexCenterCenter;
                    @include fontDesktopL($white);
                    gap: 1.5vw;

                    a {
                        @include fontDesktopS($white);
                        @include hover;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
