@import '../../styles/index.scss';

.productListContainer {
    @include flexCenterCenter;
    width: 100%;

    .productListGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;

        @media (max-width: 1950px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 1400px) {
            grid-template-columns: 1fr;
        }
    }

    table {
        @include fontDesktopM($blue);
        border-spacing: 0vw 0.5vw;
        position: relative;
        background-color: $white;

        .pic {
            height: 100%;
            position: relative;
        }

        hr {
            border-width: 0;
            height: 2px;
            background-color: $hrColor;
        }

        img {
            width: 32px;
            height: 32px;
        }

        thead {
            z-index: 2;
            position: sticky;
            top: 104px;
            background-color: $white;
        }
        th {
            @include fontDesktopXM($blue);
            white-space: nowrap;
            padding-block: 1vw;
            padding-inline: 1vw;
        }

        td {
            vertical-align: middle;
            text-align: center;
            padding-inline: 1vw;
        }

        .productName {
            @include flexStartCenter;
            gap: 1vw;
            width: 25vw;
            max-width: 30vw;
            text-align: start;
            margin-inline: 1vw;

            img {
                width: 64px;
                height: 64px;
            }

            a {
                color: $blue;
            }
        }
    }

    .inStockCheckImg {
        filter: $greenFilter;
    }
    .inStockCloseImg {
        filter: $redFilter;
    }
}
