@import '../../styles/index.scss';

.addToCart,
.remove {
    @include flexCenterCenter;
    @include hover;
    width: min-content;

    img {
        width: 32px;
        filter: $lightBlueFilter;

        // @media (max-width: $breakPointL) {
        //     width: 24px;
        // }
    }
}
