@import '../../styles/index.scss';

.categoryListContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2vw;
    column-gap: 2vw;

    .categoryItem {
        @include flexStartCenter;
        @include fontDesktopXM($blue);
        @include hoverMini;

        gap: 1vw;
        border-radius: 1vw;
        padding: 1vw;
        box-shadow: 0px 3px 2px $cardBoxShadow;

        img {
            border-radius: 1vw;
            width: 160px;
            height: 100px;
        }
    }
}
