.Footer {
    margin-top: 100px;
    font-size: 18px;
    color: var(--footerColor);
    font-weight: 400;
}

.Footer__Container {
    position: relative;
    width: calc(100% - 100px);
    background-image: var(--footerGradient);
    min-height: 50px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    img {
        filter: var(--footerFilter);
    }
}

.Address {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: var(--footerColor);
        text-decoration: none;
    }
}

.Working__Mode {
    margin-left: 15px;
}

.Wave {
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    height: 25px;
    background: url('../../assets/FooterImg/wave.png');
    background-size: 500px 25px;
    filter: var(--blueFilter);
}

.wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 8s linear infinite;
}

.wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 8s linear infinite !important;
}

.wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 6s linear infinite;
}

.wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 6s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 500px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -500px;
    }
    100% {
        background-position-x: 0px;
    }
}
