@import '../../styles/index.scss';
@import '../Header/variables.scss';

.body {
    width: calc(100% - 20px);
    position: relative;
    z-index: 1;
    display: flex;
    gap: 20px;
    min-height: 60vh;
    margin-bottom: 4vh;
    margin-top: 1vh;

    @media (max-width: $breakPointL) {
        width: 100%;
        margin-left: 0;
        gap: 0;
    }

    @media (max-width: $breakPointM) {
        margin-top: 40px;
    }

    .sideBarContainer {
    }

    .contentContainer {
        width: 100%;
    }
}
