@import '../../styles/index.scss';

.body {
    width: calc(100% - $widthLeft - 2vw);
    margin-top: $hightHeader - $hightHeaderName - $hightHeaderNameTop;
    margin-bottom: 4vh;
    margin-left: $widthLeft;
    background-color: $white;
    position: relative;
    z-index: 1;
    min-height: 61vh;
    padding-inline: 1vw;
    padding-block: 2vh;
}
