@import '../../styles/index.scss';

.body {
    width: calc(100% - $widthLeft - 2vw);
    margin-top: $hightHeader - $hightHeaderName - $hightHeaderNameTop;
    margin-bottom: 4vw;
    margin-left: $widthLeft;
    background-color: $white;
    position: relative;
    z-index: 1;
    min-height: 65vh;
    padding-inline: 1vw;
}
