.Header__Logo {
    display: flex;
    background-color: blue;
    cursor: pointer;
}

.Header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    background-color: white;
    flex-shrink: 0;
    z-index: 2;
}

.Header__Nav__List {
    width: calc(100% - 6px - 20px);
    border: 3px solid var(--blue);
    display: flex;
    height: 35px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}

.Header__Right {
    position: relative;
    background: white;
    width: 100%;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.Header__Name {
    height: 53px;
    width: calc(100% - 6px);
    background-color: var(--yellow);
    border: 3px solid var(--yellow);
    border-radius: 75px 75px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 48px;
    cursor: pointer;
}

.Header__Nav__List__Item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--blue);
    font-size: 24px;
    font-weight: 600;

    &:hover {
        .Header__Left__Arrow {
            visibility: visible;
        }
        text-decoration: underline;
    }

    img {
        filter: var(--blueFilter);
    }
}

.Header__Left__Arrow {
    visibility: hidden;
}

.Header__Lang__Options {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.Header__Lang {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;

    img {
        filter: var(--blueFilter);
    }

    &:hover {
        .Header__Lang__Options {
            display: flex;
        }

        .Header__Down__Arrow {
            display: none;
        }

        .Header__Up__Arrow {
            display: flex;
        }
    }
}

.Header__Up__Arrow {
    display: none;
}

.Header__Lang__Select {
    color: var(--blue);
    font-size: 24px;
    font-weight: 600;
}

.Header__Lang__Option {
    cursor: pointer;
    background-color: white;
    color: var(--blue);
    font-size: 24px;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.Header__Lang__Option[id='disabledLang'] {
    display: none;
}
