@import '../../styles/index.scss';

.cartContainer {
    min-height: inherit;
}
.cart {
    // @include columnBetweenNormal;
    @include columnCenterCenter;
    min-height: inherit;
    height: 100%;
    gap: 5vw;

    a {
        color: $blue;
    }

    .productList {
        @include fontDesktopXM($blue);
        border-spacing: 0 1vw;
        position: relative;

        hr {
            border-width: 0;
            height: 2px;
            background-color: $hrColor;
        }

        thead {
            z-index: 2;
            position: sticky;
            top: $hightHeader - $hightHeaderNameTop;
            background-color: $white;
        }

        th {
            @include fontDesktopL($blue);
            white-space: nowrap;
            padding-block: 1vw;
            padding-inline: 2vw;
        }

        td {
            vertical-align: middle;
            text-align: center;
        }

        .productName {
            @include flexStartCenter;

            gap: 1vw;
            width: 30vw;
            text-align: start;
            margin-inline: 3vw;

            img {
                width: 8vw;
                height: 8vw;
            }
        }

        .remove {
            @include hover;
            filter: $redFilter;
            width: 2vw;
        }

        .productPrice,
        .totalAmount {
            text-align: center;
        }

        .productImg {
            @include productImgInList;
        }
    }

    .cartSummary {
        @include columnCenterCenter;
        @include fontDesktopL($blue);

        .totalCount,
        .totalSum {
            @include flexCenterCenter;
        }
    }

    .cartMenu {
        @include flexBetweenCenter;
        @include fontDesktopL($blue);
        width: 100%;

        img {
            filter: $blueFilter;
            width: 3vw;
        }

        .emptyTheCart,
        .checkout {
            @include hover;
            @include flexCenterCenter;
            gap: 1vw;
        }
    }

    .emptyCart {
        @include columnCenterCenter;
        gap: 15vw;

        img {
            width: 3vw;
            filter: $blueFilter;
        }

        .emptyCartTitle {
            @include fontDesktopXXL($blue);
        }

        .emptyCartMenu {
            @include flexCenterCenter;
            @include fontDesktopL($blue);
            gap: 30vw;

            .restoreCart {
                @include flexCenterCenter;
                gap: 1vw;
                cursor: pointer;
            }
        }
    }
}
