@import '../../styles/index.scss';

.removeButton {
    @include hover;
    filter: $yellowFilter;
    width: 30px;
    height: 30px;
}

.addButton {
    @include hover;
    filter: $blueFilter;
    width: 30px;
    height: 30px;
}
