/* FLEX */
@mixin flexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexBetweenCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flexStartCenter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@mixin flexAroundCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin columnStartStart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
@mixin columnBetweenNormal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
}
@mixin columnCenterCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin columnCenterStart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
@mixin columnBetweenCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* FONTS */
@mixin fontDesktopXXL($color) {
    font-size: $fontSizeDesktopXXL;
    font-weight: $fontWeightXXL;
    color: $color;
}
@mixin fontDesktopXL($color) {
    font-size: $fontSizeDesktopXL;
    font-weight: $fontWeightXL;
    color: $color;
}
@mixin fontDesktopL($color) {
    font-size: $fontSizeDesktopL;
    font-weight: $fontWeightL;
    color: $color;
}
@mixin fontDesktopXM($color) {
    font-size: $fontSizeDesktopXM;
    font-weight: $fontWeightXM;
    color: $color;
}
@mixin fontDesktopM($color) {
    font-size: $fontSizeDesktopM;
    font-weight: $fontWeightM;
    color: $color;
}
@mixin fontDesktopS($color) {
    font-size: $fontSizeDesktopS;
    font-weight: $fontWeightS;
    color: $color;
}
@mixin fontDesktopXS($color) {
    font-size: $fontSizeDesktopXS;
    font-weight: $fontWeightXS;
    color: $color;
}

/* IMAGES */
@mixin productImgInList {
    width: 100px;
    height: 100px;
}
@mixin menuControlImg {
    width: 40px;
    height: 40px;
}

@mixin active {
    cursor: pointer;
    &:active {
        background-color: red;
    }
}
@mixin hover {
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}
@mixin hoverMini {
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
}
