@import '../../styles/index.scss';
@import './variables.scss';

.skeleton {
    flex: 1;
    width: 100%;
    display: block;
    line-height: 1;
}

.rootContainer {
    @include flexStartNormal;
    border-radius: 0 10px 10px 10px;
    background-color: $white;
    max-width: $widthCardMax;
    gap: $paddingDouble;
    width: calc(100% - $padding - $paddingDouble);
    height: $heightCard;
    padding-left: $padding;
    padding-right: $paddingDouble;
    padding-block: $paddingDouble;
    margin-inline: auto;

    @media (max-width: $breakPointS) {
        gap: $paddingDoubleS;
        width: calc(100% - $paddingDoubleS * 2);
        height: $heightCardS;
        padding-inline: $paddingDoubleS;
        padding-top: $paddingDoubleS;
        padding-bottom: $paddingS;
    }

    .skeleton {
        flex: 1;
    }

    .leftContainer {
        display: flex;
        min-width: $heightCard;
        width: $heightCard;
        height: 100%;
        position: relative;

        @media (max-width: $breakPointS) {
            min-width: $heightCard;
            width: $heightCard;
            height: $heightCard;
        }
    }

    .rightContainer {
        width: 100%;
        height: 100%;

        .topContainer {
            @include flexCenterCenter;
            gap: $padding;
            width: 100%;
            height: calc($heightCard / 2 - $padding / 2);

            .name {
                width: 100%;
                height: 100%;
                color: $lightBlue;

                line-height: 100%;
                font-size: $fontSizeName;
                font-weight: $fontWeightName;

                @media (max-width: $breakPointM) {
                    font-size: $fontSizeNameM;
                    font-weight: $fontWeightNameM;
                }

                @media (max-width: $breakPointS) {
                    color: $blue;
                    font-size: $fontSizeNameS;
                    font-weight: $fontWeightNameS;
                }
            }

            .price {
                @include columnBetweenEnd;
                color: $blue;
                height: 100%;

                min-width: $widthCardPrice;
                font-size: $fontSizePrice;
                font-weight: $fontWeightPrice;

                @media (max-width: $breakPointM) {
                    min-width: $widthCardPriceM;
                    font-size: $fontSizePriceM;
                    font-weight: $fontWeightPriceM;
                }

                @media (max-width: $breakPointS) {
                    display: none;
                }

                &__single {
                    @include fontDesktopS(gray);
                    width: 100%;
                    text-align: end;
                }
            }
        }

        .bottomContainer {
            @include flexBetweenCenter;
            gap: $padding;
            width: 100%;
            height: calc($heightCard / 2 - $padding / 2);
            margin-top: $padding;

            @media (max-width: $breakPointS) {
                display: grid;
                grid-template-columns: auto auto;
                row-gap: $paddingS;
                column-gap: 0;
            }

            .details {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-width: 170px;
                height: 45px;
                font-size: $fontSizeDetails;
                font-weight: $fontWeightDetails;

                @media (max-width: $breakPointS) {
                    width: 100%;
                    grid-column: 1/3;
                }

                &__item {
                    display: flex;
                    gap: $padding;

                    &__title {
                        color: $lightBlue;
                    }

                    &__content {
                        color: $blue;
                    }
                }

                .brand,
                .inStock {
                    .details__item__content {
                        font-weight: $fontWeightBrand;
                    }
                }
            }

            ._mobilePrice {
                display: none;

                @media (max-width: $breakPointS) {
                    width: $heightCard;
                    display: block;
                    font-size: $fontSizePriceS;
                    font-weight: $fontWeightPriceS;
                    color: $blue;
                    height: 100%;
                    margin-left: -$heightCard - $paddingDoubleS;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }

                &__single {
                    @include fontDesktopS(gray);
                    text-align: center;
                }
            }

            .menuSkeleton {
                display: flex;
                height: 45px;
                width: $menuWidth;

                @media (max-width: $breakPointM) {
                    width: $menuWidthM;
                }

                @media (max-width: $breakPointS) {
                    width: $menuWidthM;
                    height: 42px;
                }
            }

            .menu {
                display: flex;
                justify-content: flex-end;
                gap: 22px;
                height: 100%;
                width: $menuWidth;

                &__item {
                    @include flexStartEnd;
                }

                @media (max-width: $breakPointM) {
                    width: $menuWidthM;
                }

                @media (max-width: $breakPointS) {
                    width: $menuWidthM;
                    justify-self: flex-end;
                    height: 42px;
                }

                .favoritesButton {
                    padding-bottom: 3px;
                }
            }
        }
    }
}
