//PRICE WIDTH
$widthCardPrice: 145px;
$widthCardPriceM: 115px;

$widthCardMax: 900px;

//CARD HEIGHT
$heightCard: 100px;
$heightCardS: 150px;

//MENU WIDTH
$menuWidth: 200px;
$menuWidthM: 200px;

//PADDING
$padding: 10px;
$paddingS: 5px;
$paddingDouble: 20px;
$paddingDoubleS: 10px;

//NAME FONT
$fontSizeName: 20px;
$fontWeightName: 800;
$fontSizeNameM: 18px;
$fontWeightNameM: 700;
$fontSizeNameS: 15px;
$fontWeightNameS: 700;

//PRICE FONT
$fontSizePrice: 24px;
$fontWeightPrice: 800;
$fontSizePriceM: 20px;
$fontWeightPriceM: 800;
$fontSizePriceS: 18px;
$fontWeightPriceS: 800;

//DETAILS FONT
$fontSizeDetails: 12px;
$fontWeightDetails: 400px;

//BRAND WEIGHT
$fontWeightBrand: 800;
