@import '../../styles/index.scss';

.favoritesContainer {
    @include columnCenterCenter;
    @include fontDesktopL($blue);

    table {
        @include fontDesktopXM($blue);
        border-spacing: 0 1vw;
        position: relative;

        hr {
            border-width: 0;
            height: 2px;
            background-color: $hrColor;
        }

        thead {
            z-index: 2;
            position: sticky;
            top: 7.5vw;
            background-color: $white;
        }

        th {
            @include fontDesktopL($blue);
            white-space: nowrap;
            padding-block: 1vw;
            padding-inline: 2vw;
        }

        td {
            vertical-align: middle;
            text-align: center;
        }

        .itemName {
            @include flexStartCenter;
            @include hover;
            color: $blue;
            gap: 1vw;
            max-width: 30vw;
            text-align: start;
            margin-inline: 3vw;

            img {
                @include productImgInList;
            }
        }
    }

    .favoritesEmpty {
        @include columnCenterCenter;
        gap: 4vw;

        .container {
            @include flexCenterCenter;
            gap: 0.5vw;

            .heart,
            .arrow {
                filter: $blueFilter;
            }
            .heartFilled {
                filter: $redFilter;
            }
        }
    }
}
